@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|Griffy|Rock+Salt');

/*
Style reset
*/

    *{
        margin:0;
        padding:0;
    }
    html{
        font-size: 62.5%;
    }
    body{
        font-size: 1.5rem;
        font-family: 'Griffy', cursive;
        font-weight: 400;
    }
    a{
        text-decoration: none;
    }
    /* Faire en sorte que les images ne dépassent pas leurs parents */
    img{
        max-width: 100%;
    }
    section{
        padding: 6rem 0rem;
    }
    /* Créer une barre horizontal sous la balise */
    h1:after{
        /* Ajouter un contenu (meme vide) pour afficher la balise */
        content: "";
        /* Changer le type de balise */
        display: block;
        /* Modifier la taille */
        height: .5rem;
        width: 20rem;
        /* Centrer dans la page */        
        margin: 2rem auto;
        /* Ajouter de la couleur */
        background: white;
    }
    h2{
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    h3{
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    h1,h2,h3{
        font-family: 'Diplomata SC', cursive;
        font-weight: 400;
    }
    h1{
        position: relative;
    }

/*
Style largeur maximum
*/
    nav ul,
    main section:first-child,
    main section:nth-child(2) p,
    main section:last-child,
    footer section{
        max-width: 95rem;
        margin: auto;
    }

/*
Stylemain section:first-child
*/
    
    main section:first-child article{
        display:inline-block;
        width: 30%;
        margin: 1rem;
        position: relative;
        line-height: 0;
    }
   main article .fa{
        position: absolute;
        top: 20%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all .5s;
        transition: all .5s

    }
    h1:before{
        content: "";
        display: block;
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
        /* Gestion de l'image de fond */
        background-image: url(../img/star.jpg);
        /* Bloquer la repetition de l'image de fond */
        background-repeat: no-repeat;
        /* Modifier la taille de l'image de fond */
        background-size: 100%;
        background-color: #18bc9c;
        border: .5rem solid #18bc9c;

        
    }
    main section:first-child a{
        color: white;
        background: rgba(24, 188, 156, .7);
        position: absolute;
        /* Faire en sorte que la balise soit a 100% de la taille de son parent */
        width: 100%;
        height: 100%;
        /* Placer la balise en haut a gauche */
        top: 0;
        left: 0;
        font-size: 8rem;
        /* Réduire l'opacity de la balise */
        opacity: 0;
        /* Gerer une transition entre les états de la balise */
        -webkit-transition: all .5s;
        transition: all .5s;

    }
    main section:first-child a:hover{
        opacity:1;
    }
    main section:first-child a:hover .fa{
        top: 50%
    }
    main section:first-child{
        text-align: center;
    }

/*
Stylemain section:nth-child(2)
*/
    
     main section:nth-child(2){
        background-color: #18bc9c;
        color: white;
        text-align: center;
        font-size: 1.9rem;

    }
    main section:nth-child(2) p{
        /* Afficher le texte sur deux colonnes */
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        text-align:justify;
        margin-bottom: 4rem;
    }
    main section:nth-child(2) a{
        color:white;
        border:.3rem solid white;
        padding:1rem 1.5rem;
        font-weight: bold;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;

    }

/*
Style Header
*/
    header{
        text-align: center;
        background: #18bc9c;
        color: white;
        padding-bottom: 6rem;
    }
    nav{
        text-transform: uppercase;
        background: #2c3e50;
        text-align: right;
        padding: 3rem;
        margin-bottom: 6rem;
    }
    nav a{
        color:white;
        font-weight: bold;
    }
    /* Bloquer les enfants dans le parent */
    nav ul{
        position: relative;
    }
    li{
        display:inline-block;
        margin-right: 1rem;
    }
    /* Sortir la balise du flux pour la repositionner precisement */
     nav li:first-child{
        position: absolute;
        left: 0;
        font-size: 1.5em;
    }
    h1{
        padding-top: 3rem;
        font-size: 7rem;
        text-transform: uppercase;
    }
    header p{
        font-size: 2.5rem
    }
/*
Style contact
*/

    input, textarea{
        display:block;
        width:90%;
        margin: 1rem auto;
        font-size: 2rem;
        padding:1rem;
        border:none;
        border-bottom:.1rem solid #dddddd;
    }
    textarea{
        /* Définir une hauteur minimum */
        min-height: 20rem;
    }

    /* Selectionner une balise grâce a son attribut et sa valeur */
    [type="submit"]{
        width:8rem;
        display:inline-block;
        background: #18bc9c;
        color:white;
        border-radius: 0.5rem;
        font-weight: bold;
        margin-left: 3rem;
    }

/*
Style Footer
*/
    footer{
        background: #2c3e50;
        text-align: center;
        color: white;
        }
    footer article{
        display:inline-block;
        width:30%;
        vertical-align: top;      
    }
    [href="https://google.com"]{
        color: #18bc9c;
        font-size: 2rem
    }
    aside{
        padding:1.5rem;
        background: #233140;
    }

