/*
Style Reset
*/
    /* Supprimer toutes les marges de toutes les balises */
    *{
        margin: 0;
        padding: 0;
    }
    /* Configurer la valeur 1rem = 10px */
    html{
        /* Ne JAMAIS définir les propriétés width et height sur le html */
        font-size: 62.5%;
    }
    body{
        /* Ne JAMAIS définir les propriétés width et height sur le body */
        font-size: 1.5rem;
        text-align: center;
    }
    header,main,footer{
        max-width: 50rem;
        margin: 2rem auto;
        padding: 2rem;
    }

/*
Style Header
*/
    /* Aligner les balises li de la nav */
    nav li{
        display: inline-block;
    }
    header{
        background: lightgrey; 
        /* Bloquer les enfants dans leurs parents */
        position: relative;
    }
    /* Selectionner ma premiere li du header */
    header li:first-child{
        /* Sortir la balise du flux pour la repositionner */
        position: absolute;
        right: 2rem;
    }
    /* Selectionner ma derniere li du header */
    header li:last-child{
        position: absolute;
        left: 2rem;
    }
    img{
        max-width: 50rem;
    }
/*
Style Main
*/
label,textarea,input:not([type="submit"]){
    display: block;
    width: 100%;
}

/*
Style footer
 */
    /* Faire en sorte que le footer soit toujours collé en bas de la page */
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        background: red;
        z-index: -1;
    }