<h3>Découvrez mes travaux</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi mollitia repellat, iure exercitationem, natus temporibus, maxime porro voluptas sequi iste eum velit voluptate repellendus inventore quibusdam. Nisi, quis, corporis!</p>
<figure>
        <img src="src/app/img/chat1.jpg" alt="">
        <figcaption><span>Projet 1</span> <button>Afficher les details</button></figcaption>
</figure>
<figure>
        <img src="src/app/img/chat2.jpg" alt="">
        <figcaption><span>Projet 2 </span><button>Afficher les details</button></figcaption>
</figure>
<figure>
        <img src="src/app/img/soirée.jpg" alt="">
        <figcaption><span>Projet 3</span> <button>Afficher les details</button></figcaption>
</figure>
<figure>
        <img src="src/app/img/vacance.jpg" alt="">
        <figcaption><span>Projet 4 </span><button>Afficher les details</button></figcaption>
</figure>

<section id="modal">
    <article>
          <h2><span>Projet 1</span> <i class="fa fa-times"></i></h2>
          <img src="img/chat1.jpg" alt="Projet 1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis consequatur magni alias, recusandae veniam vero perferendis qui totam consectetur ipsa sunt distinctio, quaerat minus dolores, pariatur quae. Quaerat, hic.</p>
    </article>
</section>
