section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+18,ba2737+72,f18e99+100 */
background: #efc5ca; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #efc5ca 0%, #d24b5a 18%, #ba2737 72%, #f18e99 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #efc5ca 0%,#d24b5a 18%,#ba2737 72%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #efc5ca 0%,#d24b5a 18%,#ba2737 72%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}