<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>Titre de la section Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque ex quisquam vel placeat error iure voluptatibus magnam fuga nesciunt veritatis rem, obcaecati quibusdam quaerat excepturi dolorum ratione consectetur labore.</p>
    
    </body>
</html>