<h3>A propos de moi</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis inventore illum quod officia temporibus consequuntur ad qui, repellendus at expedita vitae ipsa odit similique, voluptate accusantium incidunt, distinctio doloremque quae.</p>

<img src="http://www.lorempixel.com/400/400/cats" alt="Photo de moi">

<h3>Mes competences</h3>

<ul>
    <li><p style="width: 84%;"><span>HTML: 30%</span></p></li>
    <li><p style="width: 25%;"><span>CSS: 50%</span></p></li>
    <li><p style="width: 50%;"><span>Javascript: 60%</span></p></li>
</ul>

<p>N'hesitez pas a me contacter en cliquant <a href="#">sur ce lien</a></p>