li{
    display:inline-block;
}
ul,main{
    padding:0;
    max-width: 30rem;
    margin:auto;
}
header,footer{
    background: black;
    color: white;
    padding: 0.5rem 1rem;
}
nav{
    text-align: right;
}
#lionleft{
    position:absolute;
    left: 0;
}
nav ul{
    position:relative;
}
#lionright{
    position :absolute;
    right:0;
}
footer ul{
    position:relative;
}
/* figer une balise */
header{
    position:fixed;
    top: 0;
    left:0;
    width: 100%
}
main{
    padding: 2rem 0;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}