@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/*
Style Reset
*/
    *{
    margin: 0;
    padding: 0;
    }
    html{
    font-size: 62.5%
    }
    body{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    }
    a{
        text-decoration: none;
        color: #349aa6;
    }
    h1 span{
        text-transform: lowercase;

    }
    /* Appliquer deux design different sur la balise h1 */
    h1{
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.8em;
        margin-bottom: 4rem
    }
    b{
        font-size: 2em;
        display: block;
    }
/*
Style Header
*/
    header{
        text-align: center;
        color: white;
        /* Image parrallaxe */
        background-image: url(../img/img-couverture-iphone.jpg);
        /* Positionner l'image de fond */
        background-position: top;
        /* Modifier la taille de l'image de fond */
        background-size: 150%;
        /* Bloquer l'image de fond */
        background-attachment: fixed;
    }
    nav{
        background: #002a35;
        padding: 1rem;
        margin-bottom: 4rem;
    }
    li{
        display: inline-block;
        width: 45% 
    }
    /* Selectionner une balise grace a son attribut */
    [src="img/logo-GRT-gaz-blanc.png"]{
        width: 15rem;
        margin-bottom: 4rem;
    }
    /* Selectionner une balise suivante */
    h1 + a{
        background: #349aa6;
        /* Les balises de type inline ne peuvent pas recevoir les propriétés width et height */
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-bottom: 8rem;
        border-radius: 50%;
    }
    a img{
        padding-top: .8rem;        
    }
    