/*
Style reset
*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html{
    font-size: 62.5%;
    background: black;
}
body{
    font-size: 1.5rem
}
main{
    position: relative;
    width: 100rem;
    height: 100rem;
    display: inline-block;
}
section{
    display: inline-block;
    position: absolute;
}
article{
    display: inline-block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: .1rem solid white;
}
section:nth-child(1) article{
    background: green;
}
section:nth-child(2) article{
    background: blue;
}
section:nth-child(3) article{
    background: red;
}
section article:nth-child(1){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%
}
section article:nth-child(2){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
section article:nth-child(3){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
section article:nth-child(4){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
section article:nth-child(5){
    border-radius: 50%;
}
}
section:nth-child(1) article:nth-child(1){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(1) article:nth-child(2){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(1) article:nth-child(3){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(1) article:nth-child(4){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(1) article:nth-child(5){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(1) article:nth-child(6){
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
}
section:nth-child(1) article:nth-child(7){
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
}
section:nth-child(1) article:nth-child(8){
    -webkit-transform: skewY(35deg);
    transform: skewY(35deg);
}
section:nth-child(1) article:nth-child(9){
    -webkit-transform: skewY(35deg);
    transform: skewY(35deg);
}
section:nth-child(2) article:nth-child(1){
    -webkit-transform: translate(1250%, 539%);
    transform: translate(1250%, 539%);
}
section:nth-child(2) article:nth-child(2){
    -webkit-transform: translate(1148%, 436%);
    transform: translate(1148%, 436%);
}
section:nth-child(2) article:nth-child(3){
    -webkit-transform: translate(1050%, 543%);
    transform: translate(1050%, 543%);
}
section:nth-child(2) article:nth-child(4){
    -webkit-transform: translate(1152%, 642%);
    transform: translate(1152%, 642%);
}
section:nth-child(2) article:nth-child(5){
    -webkit-transform: translate(1149%, 539%);
    transform: translate(1149%, 539%);
}
section:nth-child(2) article:nth-child(6){
    -webkit-transform: translate(1050%, 436%) skew(35deg);
    transform: translate(1050%, 436%) skew(35deg);
}
section:nth-child(2) article:nth-child(7){
    -webkit-transform: translate(1250%, 436%) skew(35deg);
    transform: translate(1250%, 436%) skew(35deg);
}
section:nth-child(2) article:nth-child(8){
    -webkit-transform: translate(1050%, 642%) skewY(35deg);
    transform: translate(1050%, 642%) skewY(35deg);
}
section:nth-child(2) article:nth-child(9){
    -webkit-transform: translate(1252%, 642%) skewY(35deg);
    transform: translate(1252%, 642%) skewY(35deg);
}
section:nth-child(3) article:nth-child(1){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(3) article:nth-child(2){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(3) article:nth-child(3){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(3) article:nth-child(4){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(3) article:nth-child(5){
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%)
}
section:nth-child(3) article:nth-child(6){
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
}
section:nth-child(3) article:nth-child(7){
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
}
section:nth-child(3) article:nth-child(8){
    -webkit-transform: skewY(35deg);
    transform: skewY(35deg);
}
section:nth-child(3) article:nth-child(9){
    -webkit-transform: skewY(35deg);
    transform: skewY(35deg);
}