/*
Style reset
*/
    /* Sélectionner toutes les balises du DOM */
    *{
        /* Supprimer les marges interieurs */
        padding:0;
        /* Supprimer les marges exterieures */
        margin:0;
    }

    /* Ramener la valeur 1rem à 10px */
    html{
        font-size: 62.5%
    }

    body{
        font-size: 1.5rem; /* 1.5rem=15px */    
    }

   

/*
em rem
*/

    h1{
        font-size: 3rem; /* 3 fois le font-size de html (root) */
    }

    h1 b{
        /* la taille de la font soit toujours 2fois plus petite que sont parent direct */
        font-size: .5em;
    }

/*
Style header
*/
    header{
        /* Ajouter une bordure de 1px rouge */
        border: .5rem solid red;

        /* Ajouter une marge a l'interieur de la balise */
        padding: 2rem;

        /* Ajouter une marge a l'exterieur de la balise */
        margin: 2rem;
    }

    /* Modifier le type des balises li */
    li{
        display: inline-block;
    }

/*
Style largeur style
*/

     /* Limiter la largeur de header, main et footer dà 950px */
    header,main,footer{
        max-width: 95rem;

        /* Center une balise de type block réduite en largeur */
        margin: 2rem auto;
    }

    section{
        margin-bottom: 2rem;
    }

/*
Mise en forme typographique
*/

    .Presentation{
        /* Modifier la famille de charactere de la font */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        /* Modifier la taille de la font */
        font-size: 1.7rem;

        /* Modifier l'interlignage */
        line-height: 2em;

        /* modifier la graisse de la font */
        font-weight: bold;

        /* Ajouter une ombre portée à la font */
        text-shadow: .5rem .5rem .5rem fuchsia;

        /* Modifier  la casse de la font */
        text-transform: uppercase;

        /* Modifier le style de la font */
        font-style: italic;

        /* Modifier la décoration de la font */
        text-decoration: underline;

        /* Modifier la couleur de la font */
        color: peru;

    }

/*
Utilisation des couleurs
*/
    #Portfolio{
        background-color: black; /* Réference hexadécimal */
        color: white; /* Nom intelligible */
        text-align: center; /* Agit sur les textes et sur les balises inline (enfant) */

    }

    #Portfolio article{
        background-color: rgba(240, 128, 128, 0.52);
        padding: 2rem;
        margin-bottom: 1rem;

        /* Faire en sorte d'afficher les articles sur 3 colonnes */
        display: inline-block;
        
    }
