p{
    margin: 0;
    padding: 0;
}

section{
    border:.1rem solid  red;
    height: 30rem;
    width: 30rem;
    margin: 10rem auto;
    /* Bloquer les enfants de leurs parents */
    position: relative;
}
article{
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: bold;

    /* Changer la position pour placer precisement les articles */
    position: absolute;
}

#first{
    background: green;
    right:0;
    bottom:0;
}
#second{
    background: yellow;
    left:0;
    bottom:0;
}
#third{
    background: red;
    top:0;
    left:0;
}
#fourth{
    background: blue;
    top:0;
    right:0;
}