@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@-webkit-keyframes pictoHeaderAnim{
    0%{transform: translateY(0);}
    50%{transform: translateY(1rem);}
    100%{transform: translateY(0);}
}
@keyframes pictoHeaderAnim{
    0%{transform: translateY(0);}
    50%{transform: translateY(1rem);}
    100%{transform: translateY(0);}
}



/*
Style Reset
*/
    *{
    margin: 0;
    padding: 0;
    }
    html{
    font-size: 62.5%
    }
    body{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    }
    a{
        text-decoration: none;
        color: #349aa6;
    }
    span{
        text-transform: lowercase;
    }
    section{
        padding: 4rem 2rem;
    }
    p{
        padding: 4rem 0;
    }
    /* Appliquer deux design different sur la balise h1 */
    h1{
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.8em;
        margin-bottom: 4rem
    }
    h2, h3{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.2rem;
    }
    b{
        font-size: 2em;
        display: block;
    }
    figure{
        padding: 2rem 0;
    }
    img{
        max-width: 100%;
    }
/*
Style Header
*/
    header{
        color: white;
        /* Image parrallaxe */
        background-image: url(../img/img-couverture-iphone.jpg);
        /* Positionner l'image de fond */
        background-position: top;
        /* Modifier la taille de l'image de fond */
        background-size: 150%;
        /* Bloquer l'image de fond */
        background-attachment: fixed;
    }
    nav{
        background: #002a35;
        padding: 1rem;
        margin-bottom: 4rem;
    }
    li{
        display: inline-block;
        width: 45% 
    }
    /* Selectionner une balise grace a son attribut */
    [src="img/logo-GRT-gaz-blanc.png"]{
        width: 15rem;
        margin-bottom: 4rem;
    }
    /* Selectionner une balise suivante */
    h1 + a{
        background: #349aa6;
        /* Les balises de type inline ne peuvent pas recevoir les propriétés width et height */
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-bottom: 8rem;
        border-radius: 50%;
        /* Appliquer l'animation */
        -webkit-animation-name: pictoHeaderAnim;
        animation-name: pictoHeaderAnim;
        /* Définir la durée */
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        /* Définir le nombre de loop */
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    a img{
        padding-top: .8rem;        
    }

/*
Style  body
*/
    /* Programme */
    section:nth-child(2), section:nth-child(4){
        background-image: url(../img/img-foule.jpg);
        color: white;
        background-attachment: fixed;
        background-position: center;
    }
    .callToAction{
        color: white;
        border: .1rem solid white;
        display: inline-block;
        padding: 1rem;
        border-radius: .5rem;
        margin-top: 2rem;
        text-align: left;
    }
/* Solution, chiffres, Footer */
    section:nth-child(3), section:nth-child(7), footer{
        background:#349aa6;
        color: white;
    }
/* Inscrivez-vous */
    .callToAction.blue{
        color: #349aa6;
        border-color: #349aa6;
    }
    [alt="Logo salon des maires"]{
        width: 10rem;
        margin-bottom: 2rem;
    }
    .callToAction:before{
        /* Afficher une image dans le content */
        content: url(../img/puce-bas-blanche.png) ;
        display: block;
        height: 3rem;
        width: 3rem;
        /* Habillez la balise */
        float: left;
        margin-right: 1.5rem; 
    }
    .callToAction:after{
        /* Annuler le flottement */
        clear: both;
    }
    .callToAction.blue:before{
        content: url("../img/puce-droite-bleu.png");
        display: block;
        height: 3rem;
        width: 3rem;
        /* Habillez la balise */
        float: left;
        margin-right: 1.5rem;
    }
    .callToAction.blue:after{
        clear: both;
    }

    
    /* Video */
    section:nth-child(6){
        color: white;
        position: relative;
        /* Masquer les balises enfants qui dépassent du parent */
        overflow: hidden;
    }
    section:nth-child(6) article{
        background: rgba(0,0,0,.7);
        padding: 4rem 2rem;
        /* Faire passer la balise sur la premiere couche */  
        position: relative;
        z-index: 1;
    }
    video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    section:nth-child(6) h3{
        font-weight: 900;
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    section:nth-child(6) a{
        color: white;
    }
/* Section Chiffres */
    
    section:nth-child(7) figure{
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
/* Présentation */
    article + img{
        width: 25rem;
        margin-bottom: 4rem;
    }
    iframe{
        border: none;
        width: 100%;
        min-height: 30rem;
    }
/* Footer */
    aside{
        font-size: 1rem;
        padding: 1rem;
    }
